<sb-layout-auth>
    <div class="container" style="background-color: EDF164;">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5 shadow-lg">
                    <div class="card-header center" style="background-color: black;">
                        <img width="50%" height="50%" style="display: block; margin:auto" src="../../../../assets//img/logo.PNG">
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Login</label><input name="login" [(ngModel)]="requestLogin.login" class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Digite o login" /></div>
                            <div class="form-group"><label class="small mb-1" for="inputPassword">Senha</label><input name="senha" [(ngModel)]="requestLogin.senha" class="form-control py-4" id="inputPassword" type="password" placeholder="Digite a senha" /></div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Lembrar senha</label></div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <!-- <a class="small" routerLink="/auth/forgot-password">Forgot Password?</a> -->
                                <a (click)="efetuarLogin()" class="btn btn-system-black">Login</a></div>
                        </form>
                    </div>
                    <!-- <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
